:root{
    --primary-color: #1d5888;
    --seondary-color: #ff993b;
    --dark-color: #292929;
    --white-color: #e7e7e7;
    --my-purple-light: #BB8AF3;
    --my-purple-medium: #8E52CB;
    --my-purple-dark: #5C2599;
    --taco-cat-theme: #C55A11;
    --taco-cat-dark-theme: #753103;
    --taco-cat-lite-theme: #e8b491;
}
body{
    color: var(--dark-color);
}

nav{
    background-color: var(--dark-color);
}

footer{
    background-color: var(--dark-color);
}

h1,h2,h3,h4,h5,h6{
    color: var(--taco-cat-theme);
}

footer{
    padding-right: 1rem;
}

footer .social>a{
    color: var(--white-color);
    opacity: 0.75;
}

footer .social>a:hover{
    color: var(--taco-cat-lite-theme);
    opacity: 0.9;
}

.bsicon{
    color: #8312FA;
}

.jsicon{
    color: #F0DB4F;
}

.html5icon{
    color: #E44D26;
}

.css3icon{
    color: #0A71B8;
}

.checklist > li i{
    color: var(--taco-cat-theme);
}

#vertical{
    transform: rotate(90deg);
}

code[class*="language-"],
        pre[class*="language-"] {
            white-space: pre-wrap;
            word-break: break-all;
            word-wrap: break-word;
        }

main>.container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}
.sticky-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}

.tacoCatFont{
    font-family: tacoCatFont;
    letter-spacing: 0em;
    font-weight: lighter;
}

.tacoCatFontBody{
    font-size: 150%;
    color: var(--taco-cat-theme);
}

.tacoCatTransparent {
    background-image: url(/img/TacoCatLogoHeadTransparent.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 30% ;
    background-color: white;
    background-size: 75%;
}

.tacoCatTransparentAll {
    background-image: url(/img/TacoCatLogoHeadTransparent.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 30% ;
    background-color: white;
}


.btn-tacoCat{
    color:var(--taco-cat-dark-theme);
    background-color: var(--taco-cat-lite-theme);
    border-color: var(--taco-cat-theme);
    border-width: 1.5px;
}

@media screen and (max-width: 400px) {
    .responsiveicon {
        font-size: 18vw;
    }
}

@font-face {
    font-family: tacoCatFont;
    src: url(/ARDELANEY.ttf);
}

@media screen and (max-width: 991.33px) {
    .tacoCatPic {
      display: none !important;
    }
    .tacoCatTransparentAll{
        background-size: 35%;
    }
  }

  @media screen and (min-width: 991.33px) {
    .tacoCatTransparent {
      background-image: none;
    }
    .tacoCatTransparentAll{
        background-size: 50%;
    }
  }
